{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'blog_app/styles.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <div class="user-links">
        {% if request.user.is_authenticated %}
            <p>Hello, {{ request.user.username }}!</p>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Log Out</button>
            </form>
            <a href="{% url 'create_post' %}">Create a New Post</a>
        {% else %}
            <a href="{% url 'login' %}">Log In</a>
            <br>
            <a href="{% url 'sign_up' %}">sign up</a>
        {% endif %}
    </div>

    <h1>All Blog Posts</h1>
    <ul>
        {% for obj in post_objs %}
        <li>
            <a href="{% url 'post_detail' obj.id %}">{{obj.title}}</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>